<% if !user_signed_in? %>
<div class= "jumbotron" >
 <h1>MovieReview!</h1>
 <div id="ptag"><p>Create an account to share and review your favorite movies</p>
 <p> <%= link_to "Sign up!", new_user_registration_path, class: "btn btn-primary btn-lg" %> </p>
  </div>

</div>
<% end %>
<div class="row">
  <% @movies.each do |movie, title, year| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <strong><%=movie.title%></strong> [<%=movie.bro_score%>]

        <%= link_to (image_tag movie.image.url(:medium), class: 'image'), movie %>
      </div>
    </div>
  <% end %>
</div>


<div class="jumbotron">
  <div class="row">
    <div class="col-sm-4" id="poster">
        <div class="info">
          <div class="info-content">
          <h2>Best of the Best</h2> </br>
          <h3>1988</h3>
          </div>
        </div>
        <%= image_tag "BestBest_moviePoster.jpg", height:"100%", width:"100%"%>
      </div>
    <div class="col-sm-4" id="poster">
      <div class="info">
        <div class="info-content">
        <h2>Over the Top</h2> </br>
          <h3>1986</h3>
          </div>
        </div>
        <%= image_tag "over-the-top-poster.jpg", height:"100%", width:"100%"%>
      </div>
      <div class="col-sm-4" id="poster">
        <div class="info">
          <div class="info-content">
          <h2>Gladiator</h2> </br>
          <h3>2001</h3>
          </div>
        </div>
        <%= image_tag "gladiator-poster.jpg", height:"100%", width:"100%"%>
   </div>
    </div>
</br>
  <div class="row">
    <div class="col-sm-4" id="poster">
      <div class="info">
        <div class="info-content">
        <h2>Thrashin'</h2> </br>
        <h3>1986</h3>
        </div>
      </div>
        <%= image_tag "pelisth.jpg", height:"100%", width:"100%" %>
        </div>
        <div class="col-sm-4" id="poster">
          <div class="info">
            <div class="info-content">
            <h2>Pixels</h2> </br>
            <h3>2015</h3>
            </div>
          </div>
          <%= image_tag "pixels_galaga.0.jpg", height:"100%", width:"100%"%>
          </div>
          <div class="col-sm-4" id="poster">
            <div class="info">
              <div class="info-content">
              <h2>Xmen: Days Of Future Past</h2> </br>
                <h3>2014</h3>
                </div>
            </div>
            <%= image_tag "Wolverine_Mystique_poster.jpg", height:"100%", width:"100%"%>
            </div>
      </div>

</div>

