<div class= "panel panel-default">
  <div class="panel-body">

    <div class="star-rating"  data-score= <%= @avg_review %> <div> </div> </div>
    <p><%= "#{@reviews.length} reviews" %><em> (avg score)</em></p>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag @movie.image.url(:medium)%>


        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td> <strong>Title:</strong> </td>
                <td> <%= @movie.title %> </td>
              </tr>
                <tr>
                <td> <strong>Year:</strong>
                <td> <%= @movie.bro_score %> </td>
              </tr>
              <tr>
                <td> <strong>Actors:</strong> </td>
                <td> <%= @movie.actors %></td>
              </tr>
              <tr>
                <td> <strong>Director:</strong> </td>
                <td> <%= @movie.director %> </td>
              </tr>
              <!-- <tr>
                <td> <strong>Description:</strong> </td>
                <td> <%= @movie.description %> </td>
              </tr> -->
            </tbody>
          </table>
          <%= link_to "Write a Review!", new_movie_review_path(@movie) %>
        </div>

      </div>
       <div class="col-md-7 col-md-offset-1">
         <h1 class="review_title"> <%= @movie.title %> </h1>
         <p> <%= @movie.description %> </p>

         <% if @reviews.blank? %>
           <h3>This movie has not yet been reviewed</h3>
           <%= link_to "Write a Review", new_movie_review_path(@movie), class: "btn btn-danger" %>
           <% else %>
           <% @reviews.each do |review| %>
             <div class="reviews">
               by <%= review.user.email %>
               <div class="star-rating" data-score= <%=review.rating %></div>
               <p> <%= review.comment %> </p>

             </div>
             <% end %>
             <% end %>
       </div>
    </div>
      <b></b>
      <%= link_to 'Edit Movie', edit_movie_path(@movie) %> |
      <%= link_to 'Back to Movies', movies_path %>
    </div>
</div>



<script>

$('.star-rating').raty({
  number: 10,
  path: '/',
  readOnly: true,
  score: function() {
    return $(this).attr('data-score');
  },
  starOn: 'star-on.png'
  });
</script>
